.hero {
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;
  background-color: transparent;
  color: whitesmoke;
}

.title {
  color: whitesmoke;
}

.subtitle {
  color: lightgray;
}